body{
    padding: 0px;
    margin: 0px;
}
*{
    padding: 0px;
    margin: 0px;
}
.card{
    margin-bottom: 20px;
    height: 600px;
 }
 #prdimage{
    width:200px ;
    height:400px
 }
.details{
    margin-left: 20px;
    margin-bottom: 40px;
    
}
.firstdiv{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    align-items: center;
    background-color: antiquewhite;
    height: 600px;

}
#image{
    width: 700px;
    height: 500px;
    margin-left: 250px;
    margin-right: 50px;
    border-radius: 50%;
}
#paragraph{
    font-size: large;
    margin-left: 100px;
    font-style: italic;
}
.seconddiv{
    width: 100%;
    background-color: bisque;
    
}
#secondimg{
    width: 100%;
    height: 400px;
}